* {
    box-sizing: border-box;
}

#canvas {
    border: thin solid red;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 28%;
    padding-bottom: 7%;
    height: 0;
    margin: auto;
}



.canvas-sqr {
    border: 1px solid black;
    justify-content: space-evenly;
    width: 1%;
    padding-bottom: 1%;
    display: flex;
    flex: 0 0 auto;
    box-sizing: border-box;
}


/* 
.canvas-square {
    border: 1px solid black;
    height: 25px;
    width: 25px;
} */

/* 
.canvas {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(16, 25px [col-start]);
    width: 80%;
    column-gap: 0;
} */