* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    margin-top: 6%;
}


/* button appear from internet */
button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

button:focus {
  outline: 1px transparent;
}

button:before {
  display: none;
}

button:-webkit-details-marker {
  display: none;
}


#canvas {
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 35vw;
    padding-bottom: 7vw;
    height: 35vw;
    margin: auto;
    border: 1px solid black;
}

#canvas-container {
    display: inline-flex;
    padding: 0;
    overflow: hidden;
    width: 50%;
}

.canvas-sqr {
    justify-content: space-around;
    width: 1%;
    padding-bottom: 1%;
    display:inline-flex ;
    flex: 0 0 auto;
    box-sizing: border-box;
}

.settings-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
    padding: 0;
    margin: 0;
}

.outer-container {
    padding: 0;
    margin: 0;
}

.size-container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.size-container > button {
    margin: 3%;
}

.selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#color-btn {
    text-align: center;
    padding: 5% 15%;
}

.selection-container > button {
    margin: 3%;
}